nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: plum; /* Adjust color */
  padding: 10px 20px;
}
body {
  font-family: "Times New Roman", Times, serif;
  margin: 0px;
  padding: 0px;
  background-color: antiquewhite;
}
.logo {
  width: 200px;
  height: 200px;
}
.nav-items {
  list-style: none;
  display: flex;
  gap: 400px;
  margin: 0px;
  padding: 0px;
}

.nav-items li {
  display: inline;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 12px;
  transition: 0.3s;
}
.nav-items a:hover {
  background-color: pink;
  border-radius: 5px;
}
.hero {
  text-align: center;
  padding: 50px;
  font-weight: bolder;
  font-size: 30px;
  color: black;
  border: 3px solid palevioletred;
}

.hero h1 {
  margin-bottom: 10px;
}

.hero p {
  font-size: 19px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  border: white;
  background-color: antiquewhite;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: pink;
}

/*Page Layout */
main {
  padding: 40px;
  text-align: center;
}

h2 {
  color: purple;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  font-size: 19px;
  margin: 10px;
}

/*  The Contact Form */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  margin: 0 auto;
}

input {
  padding: 10px;
  border: whitesmoke;
  border-radius: 5px;
}

footer {
  background-color: #f8c4c4;
  text-align: center;
  padding: 30px;
  margin-top: 30px;
}
.img1 {
  width: 500px;
  display: flex;
  align-items: flex-start;
  float: inline-start;
}
.img2 {
  display: flex;
  width: 500px;
  float: right;
}
.list {
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 25px;
}
.img4 {
  width: 500px;
  display: flex;
  float: left;
  align-items: flex-start;
}
.img5 {
  width: 500px;
  float: right;
}
#menuList {
  border: solid palevioletred;
  padding: 10px;
  margin: 10px;
  border-radius: 400px;
  width: 100%;
}
#flavors {

}
