* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: 0px;
  outline: 0px;
  text-decoration: none;
  text-transform: lowercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root {
  color: palevioletred;
}
html {
  font-size: larger;
}
body {
  background-color: antiquewhite;
}
.header {
  background-color: plum;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
}
